@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/poppins-v21-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2');
}

.home__container {
    background-image: url('./img/main-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    padding: 50px;
}

.b {
    font-weight: 600;
}

.show-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 29px auto;
    background-color: transparent;
    border: none;
    color: #33A0FF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-height: auto;
    margin-top: 55px;
    cursor: pointer;
    flex-direction: column;

}

.show__more__line {
    min-width: 195px;
    min-height: 3px;
    background-color: #33A0FF;
    margin: 0 auto;
    margin-top: 5px;

}

.home__title {
    color: #22262A;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 816px;
    margin-bottom: 122.5px;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product__item {
    border: 3px solid #F6F7F8;
    width: 298px;
    height: 405px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
}

.product__image {
    width: 214.5px;
    height: 192.5px;
    object-fit: cover;

}

.product__name {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product__price {
    font-size: 1rem;
    color: #888;
}

.product__description {
    font-size: 0.9rem;
    color: #666;
}

.product__get__buttons {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.cart__button {
    width: 45px;
    height: 45px;
    border: none;
    padding: 20px;
    border: 1px solid #c6def2;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }
}

.cart__button__favorite {
    width: 45px;
    height: 45px;
    border: none;
    padding: 20px;
    border: 1px solid #c6def2;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }
}

.product__name {
    color: #223263;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.product__price {
    color: #40BFFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0.5px;
}

.product__title__price {
    display: flex;
    gap: 13.4px;
    align-items: center;
    justify-content: center;
}

.product__sale {
    color: #9098B1;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-decoration-line: strikethrough;
}

.product__sale__percent {
    color: #FB7181;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
}


.footer {
    width: 100%;
    height: 680.594px;
    background-color: #BCDDFE;
    margin-top: 175px;
}

.footer__text {
    display: flex;
    gap: 12px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin-top: 122px;
    gap: 280px;
    padding: 40px;
}

.footer__title {
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer__title__end {
    text-align: center;
    margin-top: 150px;
}


.social {
    margin-top: 50px;
}


.footer__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 140%;
}

.social__ico {
    margin-top: 15px;
}